@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --primary-color: #eb155c;
    --light-color: #f5f5f5;
    --dark-color: #000000;
    --dark-color1: #1e1e1e;
    --dark-color2: #000000da;
    --color-font: #5f5f5f;
    --color-line: #303030;
    --border: 8px;
    --font-size-title: 3rem;
    --font-size-title2: 2rem;
    --font-size: 1.5rem;
    --font-size1: 1.2rem;
    --font-size2: 1rem;
    --font-size3: 0.7rem;
    --font-size4: 0.9rem;
    --transition: all 0.5s ease;
}


* {
    margin: 0;
    padding: 0;
    gap: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}

html {
    scroll-behavior: smooth;
}

/* line-divisor */
hr {
    border: solid 1px;
    border-color: #272727;
    margin-top: 60px;
    margin-bottom: 60px;
}

#blur {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: #00000023;
    backdrop-filter: blur(5px);
}

body {
    background: #000000;
    color: var(--light-color);
    overflow: hidden;
}

#verified {
    position: relative;
    display: flex;
    margin-left: 5px;
    color: #00a2ff;
    font-size: 0.6rem;
}

#hero {
    display: flex;
    justify-content: center;
}

header {
    padding: 20px;
    display: flex;
    flex-direction: column;
    background: var(--gradient-color);
    backdrop-filter: blur(10px);
}

#ctn-aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 280px;
    height: 100vh;
    padding: 20px 0px;
    box-shadow: 1px 0px 0px 0px var(--color-line);
}

#aside {
    display: flex;
    flex-direction: column;
}

#profile-home {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 265px;
    border-radius: 50px;
    transition: var(--transition);
}

#profile-home:hover {
    background: var(--dark-color1);
}

#profile-home img {
    display: flex;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

#user {
    margin-right: 65px;
    display: flex;
    flex-direction: column;
    align-items: start;
    cursor: default;
}

#name a {
    display: flex;
    width: 100%;
    font-size: var(--font-size4);
    font-weight: 700;
    color: var(--light-color);
}

#user-name a {
    margin-top: 2px;
    margin-left: 1px;
    display: flex;
    font-size: var(--font-size4);
    font-weight: 200;
    color: #707070;
}

#profile-home a {
    margin-right: 10px;
    display: flex;
    align-items: end;
    justify-content: end;
    text-decoration: none;
    cursor: pointer;
}

#btn-change-profile {
    color: var(--light-color);
}

#ctn-change-profile {
    position: absolute;
    margin-top: 40px;
    margin-left: 270px;
    display: none;
}

#change-profile {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100%;
    padding: 10px;
    background: #000;
    border: 1px solid var(--color-line);
    border-radius: 0px 10px 10px 10px;
    box-shadow: 0px 0px 20px 10px #000;
    gap: 10px;
}

#change-profile a {
    width: 100%;
    border-radius: var(--border);
    padding: 7px;
    text-decoration: none;
    color: var(--light-color);
    transition: var(--transition);
}

#change-profile #log-out {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    font-weight: 500;
    width: fit-content;
    height: 25px;
    background: #ca0000;
}

#change-profile a:hover {
    background: var(--dark-color1);
}

nav {
    display: flex;
    margin-top: 30px;
}

nav ul li {
    display: flex;
    flex-direction: column;
}

nav ul li a {
    display: flex;
    width: fit-content;
    padding: 15px 20px;
    text-decoration: none;
    color: var(--light-color);
    font-size: var(--font-size1);
    font-weight: 500;
    border-radius: 50px;
    transition: var(--transition);
    cursor: pointer;
}

nav ul li a:hover {
    background: var(--dark-color1);
}

nav ul li a span {
    margin-left: 50px;
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 0px 5px;
    font-size: var(--font-size3);
    font-weight: 700;
    border-radius: 50px;
    background: var(--primary-color);
}

#aside button {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 50px;
    font-size: var(--font-size1);
    font-weight: 700;
    border: none;
    border-radius: 50px;
    background: var(--light-color);
    cursor: pointer;
    transition: var(--transition);
}

#aside button:hover {
    background: #dbdbdb;
}

#ctn-section-post {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    align-items: center;
    justify-content: center;
}

#header-section-post {
    display: flex;
    justify-content: space-between;
}

#section-post {
    width: 1050px;
    background: #000;
    height: 600px;
    padding: 30px;
    border: 1px solid #454545;
    border-radius: var(--border);
    box-shadow: 0px 0px 50px 40px #000000;
}

#section-post button {
    display: flex;
    padding: 10px;
    background: transparent;
    color: #fff;
    font-weight: 600;
    border: 1px solid #454545;
    border-radius: var(--border);
    cursor: pointer;
}

#footer-aside {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    color: #676767;
    font-size: var(--font-size3);
}

#footer-aside a {
    text-decoration: none;
    color: #676767;
}

#ctn-more {
    display: none;
}

#content {
    display: flex;
    flex-direction: column;
    width: 650px;
    height: 100vh;
    box-shadow: 1px 0px 0px 0px var(--color-line);
    overflow: auto;
}

#content::-webkit-scrollbar {
    width: 5px;
    box-shadow: 0px 0px 0px 1px var(--color-line);
    background: #000000;
}

#content::-webkit-scrollbar-thumb {
    border-radius: var(--border);
    background: #53535365;
}

#header {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 15px;
    box-shadow: 0px 1px 0px 0px var(--color-line);
}

#header img {
    display: flex;
    width: 40px;
}

#search {
    display: flex;
    justify-content: center;
    padding: 15px;
    width: 100%;
    box-shadow: 0px 1px 0px 0px var(--color-line);
}

#search input {
    display: flex;
    width: 100%;
    height: 40px;
    padding: 10px;
    background: transparent;
    color: var(--light-color);
    outline: none;
    border: 1px solid var(--color-line);
    border-radius: 50px 0px 0px 50px;
}

#search input::placeholder {
    color: var(--light-color);
}

#search button {
    display: flex;
    width: 40px;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-line);
    background: transparent;
    color: var(--light-color);
    border-radius: 0px 50px 50px 0px;
    cursor: pointer;
}

#ctn-publish {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px;
    box-shadow: 0px 1px 0px 0px var(--color-line);
}

#publish {
    display: flex;
    align-items: center;
}

#publish img {
    display: flex;
    width: 40px;
    border-radius: 50px;
}

#publish input {
    margin: 10px;
    display: flex;
    padding: 10px;
    width: 100%;
    height: 40px;
    border-radius: 50px;
    outline: none;
    border: none;
    color: var(--light-color);
    font-size: var(--font-size2);
    font-weight: 600;
    background: transparent;
}

#publish input::placeholder {
    color: #555555;
}

#btns-publish {
    margin-top: 15px;
    margin-left: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#ctn-btn-publish {
    display: flex;
    gap: 20px;
}

#ctn-btn-publish a {
    color: var(--primary-color);
}

#btn-publish {
    display: flex;
    align-items: end;
    justify-content: end;
}

#btn-publish button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 30px;
    border: none;
    font-size: var(--font-size4);
    font-weight: 600;
    background: #808080;
    border-radius: 50px;
    cursor: pointer;
    transition: var(--transition);
}

#btn-publish button:hover {
    background: #999999;
}

#feed {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.post {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    box-shadow: 0px 1px 0px 0px var(--color-line);
}

.user {
    display: flex;
    align-items: center;
}

.user img {
    display: flex;
    width: 40px;
    border-radius: 50%;
}

.info-user {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    margin-left: 10px;
}

.info-user a {
    text-decoration: none;
    color: var(--light-color);
}

.card-description {
    margin-top: 25px;
    font-size: var(--font-size3);
}

.card-description h2 {
    font-weight: 400;
}

.card-description a {
    color: #274483;
}

.img-post {
    width: 100%;
    height: 300px;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    border: 1px solid #0c0c0c;
    border-radius: var(--border);
}

.img-post img {
    display: flex;
    width: 100%;
}



#aside-right {
    display: flex;
    flex-direction: column;
    width: 280px;
    padding: 20px;
    gap: 20px;
}

#card-aside-ad {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    border: 1px solid var(--color-line);
    border-radius: 15px;
}



#card-aside-news {
    display: flex;
    flex-direction: column;
    height: 420px;
    padding: 15px;
    border: 1px solid var(--color-line);
    border-radius: 15px;
    overflow: auto;
    gap: 15px;
}

#card-aside-news::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

#card-aside-news::-webkit-scrollbar-thumb {
    background: transparent;
}

#card-aside-news h1 {
    font-size: var(--font-size1);
    font-weight: 500;
}

.card-news a {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    border-radius: var(--border);
    background: #171717;
    cursor: pointer;
    text-decoration: none;
    transition: var(--transition);
}

.card-news a:hover {
    background: #232323;
}

.card-news h2 {
    font-size: var(--font-size2);
    font-weight: 600;
    color: #d9d9d9;
}

.card-news h3 {
    margin-top: 2px;
    font-size: var(--font-size4);
    font-weight: 400;
    color: #bababa;
}



/* style-profile */

#profile {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid var(--color-line);
}

#btn-edit-profile {
    display: flex;
    justify-content: end;
}

#btn-edit-profile button {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 20px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: -30px;
    padding: 5px 10px;
    background: #00000065;
    backdrop-filter: blur(5px);
    color: var(--light-color);
    font-size: var(--font-size3);
    font-weight: 600;
    border: 1px solid var(--light-color);
    border-radius: var(--border);
    transition: var(--transition);
    cursor: pointer;
}

#btn-edit-profile button:hover {
    background: #000000;
}

#banner-profile {
    display: flex;
    width: 100%;
    height: 150px;
    overflow: hidden;
}

#banner-profile img {
    display: flex;
    width: 100%;
    height: fit-content;
}

#img-profile {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-right: 5px;
}

#img-profile img {
    display: flex;
    width: 130px;
    border-radius: 50%;
    margin-top: -75px;
    margin-left: 20px;
    border: 5px solid black;
}

#links-social a {
    margin-right: 15px;
    font-size: var(--font-size);
    color: var(--light-color);
    transition: var(--transition);
}

#links-social a:hover {
    color: var(--primary-color);
}

#user-profile {
    margin: 20px;
}

#user-profile h1 {
    display: flex;
    font-size: var(--font-size1);
    font-weight: 600;
    color: var(--light-color);
}

#user-profile h2 {
    font-size: var(--font-size2);
    font-weight: 500;
    color: #9b9b9b;
}

#bio {
    margin-left: 20px;
    width: 325px;
}

#bio h3 {
    font-size: var(--font-size4);
    font-weight: 500;
}

#bio h2 {
    margin-top: 10px;
    font-size: var(--font-size4);
    font-weight: 400;
}

#following-followers {
    margin: 20px;
    display: flex;
    gap: 20px;
}

#following-followers h2 {
    font-size: var(--font-size4);
    font-weight: 400;
}

#following-followers span {
    font-weight: 600;
}